In [1]:
import folium
from folium.plugins import MarkerCluster
import pandas as pd

In [2]:
scores_finances  = pd.read_json('resources/scores_finances.json')

In [3]:
schools  = pd.read_json('resources/texas-school.json')

In [4]:
df = pd.DataFrame(scores_finances)

df2 = pd.DataFrame(schools)

In [5]:
df = df.rename(columns=lambda x: x.replace(' ', '_'))
df

,District_Name,Year,Total_Operating_Revenue,Student_Count,Campus_Name,County_Name,Region,Region_Name,ERW,SAT_Math,SAT_Total,ACT_English,ACT_Math,ACT_Reading,ACT_Science,ACT_Compos,per_student_budget
0,houston isd,2022,2535319349,193727,DeBakey HS for Health Prof,Harris County,4,Houston,631,645,1275,27.9,27.9,27.1,26.5,27.5,13087
1,houston isd,2022,2535319349,193727,South ECHS,Harris County,4,Houston,496,481,977,15.6,15.0,18.7,15.9,16.3,13087
2,houston isd,2022,2535319349,193727,Bellaire HS,Harris County,4,Houston,574,563,1137,26.5,25.8,27.4,26.1,26.6,13087
3,houston isd,2022,2535319349,193727,Furr HS,Harris County,4,Houston,418,405,824,15.7,16.0,17.0,18.0,17.0,13087
4,houston isd,2022,2535319349,193727,Jones Futures Academy,Harris County,4,Houston,458,453,911,17.8,19.8,22.3,22.5,20.8,13087
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1218,cherokee isd,2022,2886105,126,Cherokee School,San Saba County,15,San Angelo,537,558,1095,22.3,21.3,27.3,21.3,23.3,22905
1219,priddy isd,2022,2489662,123,Priddy School,Mills County,12,Waco,489,537,1026,14.8,18.9,16.9,18.6,17.4,20241
1220,richland springs isd,2022,2741851,120,Richland Springs School,San Saba County,15,San Angelo,492,483,975,19.0,17.0,19.6,17.8,18.4,22848
1221,southland isd,2022,3197189,114,Southland School,Garza County,17,Lubbock,570,526,1096,17.0,17.0,19.0,18.7,18.0,28045
1222,marathon isd,2022,1728456,57,Marathon ISD,Brewster County,18,Midland,523,488,1010,14.0,15.5,18.5,17.0,16.5,30323

In [6]:
df['Campus_Name'] = df['Campus_Name'].str.lower()

In [7]:
df2.drop(labels=['CountyNumber', 'CountyName', 'RegionNumber', 'DistrictNumber',
       'DistrictType', 'DistrictStreetAddress', 'DistrictCity',
       'DistrictState', 'DistrictZip', 'DistrictSiteStreetAddress',
       'DistrictSiteCity', 'DistrictSiteState', 'DistrictSiteZip',
       'DistrictPhone', 'DistrictFax', 'DistrictEmailAddress',
       'DistrictWebPageAddress', 'DistrictSuperintendent',
       'DistrictEnrollmentasofOct2014', 'SchoolNumber',
       'InstructionType', 'CharterType', 'SchoolCity',
       'SchoolState', 'SchoolZip', 'SchoolSiteStreetAddress', 'SchoolSiteCity',
       'SchoolSiteState', 'SchoolSiteZip', 'SchoolPhone', 'SchoolFax',
       'SchoolEmailAddress', 'SchoolWebPageAddress', 'SchoolPrincipal',
       'GradeRange', 'SchoolEnrollmentasofOct2014', 'SchoolStatus',
       'SchoolStatusDate', 'UpdateDate', 'GeocodeQualityType','SchoolStreetAddress'], axis=1, inplace=True)

In [8]:
df2.dropna()

      DistrictName     SchoolName     Latitude    Longitude
0       CAYUGA ISD     CAYUGA H S    31.922572   -95.973648
1       CAYUGA ISD  CAYUGA MIDDLE    31.922572   -95.973648
2       CAYUGA ISD      CAYUGA EL    31.922572   -95.973648
3      ELKHART ISD    ELKHART H S  31.62245863  -95.5816751
4      ELKHART ISD   ELKHART DAEP  31.62245863  -95.5816751
...            ...            ...          ...          ...
9352  LA PRYOR ISD   LA PRYOR H S     28.94611   -99.842271
9353  LA PRYOR ISD    LA PRYOR EL    28.944364   -99.840844
9354
9355
9356

[9357 rows x 4 columns]

In [9]:
df2.rename(columns={'SchoolName': 'Campus_Name', 'DistrictName':'District_Name'}, inplace=True)

In [10]:
df2['District_Name'] = df2['District_Name'].str.lower()
df2['Campus_Name'] = df2['Campus_Name'].str.lower()

In [11]:
df2

     District_Name    Campus_Name     Latitude    Longitude
0       cayuga isd     cayuga h s    31.922572   -95.973648
1       cayuga isd  cayuga middle    31.922572   -95.973648
2       cayuga isd      cayuga el    31.922572   -95.973648
3      elkhart isd    elkhart h s  31.62245863  -95.5816751
4      elkhart isd   elkhart daep  31.62245863  -95.5816751
...            ...            ...          ...          ...
9352  la pryor isd   la pryor h s     28.94611   -99.842271
9353  la pryor isd    la pryor el    28.944364   -99.840844
9354
9355
9356

[9357 rows x 4 columns]

In [12]:
school_info = pd.merge(df, df2, how = "left", on=['District_Name', 'Campus_Name'] )

In [13]:
school_info = school_info.dropna()

In [14]:
school_info

,District_Name,Year,Total_Operating_Revenue,Student_Count,Campus_Name,County_Name,Region,Region_Name,ERW,SAT_Math,SAT_Total,ACT_English,ACT_Math,ACT_Reading,ACT_Science,ACT_Compos,per_student_budget,Latitude,Longitude
4,houston isd,2022,2535319349,193727,jones futures academy,Harris County,4,Houston,458,453,911,17.8,19.8,22.3,22.5,20.8,13087,29.67510155,-95.34228549
15,houston isd,2022,2535319349,193727,sharpstown international school,Harris County,4,Houston,513,498,1011,22.5,20.5,23.5,21.5,22.0,13087,29.69791286,-95.53116332
19,houston isd,2022,2535319349,193727,mount carmel academy,Harris County,4,Houston,467,449,916,22.5,23.5,28.0,25.0,24.5,13087,29.66072995,-95.30173953
25,houston isd,2022,2535319349,193727,young women's college prep academy,Harris County,4,Houston,536,508,1044,20.9,19.2,22.2,20.3,20.8,13087,29.73045083,-95.37451291
29,dallas isd,2022,1906648921,143430,school for the talented and gifted,Dallas County,10,Richardson,683,687,1370,30.0,28.6,29.9,27.7,29.2,13293,32.75130632,-96.80685991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1217,sidney isd,2022,2477037,128,sidney school,Comanche County,14,Abilene,468,480,948,13.5,19.5,20.0,17.0,17.5,19351,31.94599,-98.736881
1218,cherokee isd,2022,2886105,126,cherokee school,San Saba County,15,San Angelo,537,558,1095,22.3,21.3,27.3,21.3,23.3,22905,30.979449,-98.708094
1219,priddy isd,2022,2489662,123,priddy school,Mills County,12,Waco,489,537,1026,14.8,18.9,16.9,18.6,17.4,20241,31.624956,-98.528064
1220,richland springs isd,2022,2741851,120,richland springs school,San Saba County,15,San Angelo,492,483,975,19.0,17.0,19.6,17.8,18.4,22848,31.270138,-98.952249
1221,southland isd,2022,3197189,114,southland school,Garza County,17,Lubbock,570,526,1096,17.0,17.0,19.0,18.7,18.0,28045,33.360835,-101.553186

In [25]:

# Define a function to determine marker size based on total operating revenue
def get_marker_size(revenue):
    if revenue < 5000000:
        return 5
    elif 5000000 <= revenue < 10000000:
        return 10
    elif 10000000 <= revenue < 50000000:
        return 15
    elif 50000000 <= revenue < 100000000:
        return 20
    elif 100000000 <= revenue < 500000000:
        return 25
    else:
        return 30

# Define a function to determine marker color based on student count based on UIL conferences 6A-1A
def get_marker_color(student_count):
    if student_count >= 2275:
        return 'red'
    elif 1315 <= student_count <= 2274:
        return 'purple'
    elif 545 <= student_count <= 1314:
        return 'blue'
    elif 254 <= student_count <= 544:
        return 'yellow'
    elif 105 <= student_count <= 253:
        return 'orange'
    else:
        return 'green'


map = folium.Map(location=[29.7604, -95.3698], zoom_start=6)
# Create a feature group for the markers
    
marker_group = folium.FeatureGroup(name='Markers')

# Iterate through the DataFrame to create markers with varying size and color
for idx, row in school_info.iterrows():
    size = get_marker_size(row['Total_Operating_Revenue'])
    color = get_marker_color(row['Student_Count'])
    popup_text = f"ISD Name: {row['District_Name']}<br>Revenue: ${row['Total_Operating_Revenue']:,}<br>Student Count: {row['Student_Count']:,}"
    marker = folium.CircleMarker(location=[row['Latitude'], row['Longitude']],
                                  radius=size,
                                  color=color,
                                  fill=True,
                                  fill_color=color,
                                  fill_opacity=0.5,
                                  popup=popup_text)
    marker.add_to(marker_group)

# Add the feature group to the map
marker_group.add_to(map)

# Add a layer control to the map
folium.LayerControl().add_to(map)

# Define legend HTML
legend_html = """
<script type="text/javascript">
    var legend = L.control({position: 'bottomleft'});

    legend.onAdd = function (map) {
        var div = L.DomUtil.create('div', 'info legend');
        div.innerHTML += '<b>Legend</b><br>';
        div.innerHTML += '<i style="background: red">&nbsp;&nbsp;</i> 6A: 2275 and above<br>';
        div.innerHTML += '<i style="background: purple">&nbsp;&nbsp;</i> 5A: 1315 - 2274<br>';
        div.innerHTML += '<i style="background: blue">&nbsp;&nbsp;</i> 4A: 545 - 1314<br>';
        div.innerHTML += '<i style="background: yellow">&nbsp;&nbsp;</i> 3A: 254 - 544<br>';
        div.innerHTML += '<i style="background: orange">&nbsp;&nbsp;</i> 2A: 105 - 253<br>';
        div.innerHTML += '<i style="background: green">&nbsp;&nbsp;</i> 1A: Below 105<br>';
        return div;
    };

    legend.addTo(map);
</script>
"""

# Add the legend HTML to the map's HTML
map.get_root().html.add_child(folium.Element(legend_html))
# Save the map
map.save('map_with_markers_revenue_size_and_student_count_color_updated.html')